* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
}

.container {
    text-align: center;    
}

header {
    background-image: url(../images/pattern-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 280px;
    padding-top: 3em;
    position: relative;
    overflow: visible;
}

h1 {
    color: #fff;
}

input {
    border: none;
    border-radius: 15px 0 0 15px;
    margin: 0;
    width: calc(555px - 58px);
    padding-left: 24px;
}
  
input:focus {
    outline: none;
}
  
button {
    color: white;
    background-color: black;
    outline: none;
    border-radius: 0 15px 15px 0;
    border: none;
    margin: 0;
    width: 58px;
}

button:hover {
    background-color:rgba(46, 46, 46, 0.8);
    cursor: pointer;
}

.search{
    display: flex;
    height: 58px;
    width: 555px;
    margin: 31px auto 48px;
}


div#mapid {
    height: calc(100vh - 280px);
}

div.details {
    background-color: white;
    width: 70%;
    height: 161px;
    border-radius: 10px;
    display: flex;
    justify-content: space-evenly;
    padding: 37px 0;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 50%);
}

div.details p{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-transform: uppercase;
    color: rgba(46, 46, 46, 0.5);
    text-align: left;
    font-size: 12px;
    line-height: 14px;
    font-weight: bold;
    border-right: 1px solid rgb(204, 204, 204);
    width: 277px;
    padding: 0 32px;
}

div.details p:last-child {
    border-right: none;
}

div.details p span {
    color: #2C2C2C;
    font-size: 26px;
    line-height: 30px;
    text-transform: capitalize;
    font-weight: 500;
    letter-spacing: -0.232143px;
    margin-top: 13px;
}

#mapid {
    z-index: -1;
}